@import "src/styles/themes/fonts";
@import "src/styles/themes/colors";

.container {
  margin-top: 56px;
  height: 40px;
  width: 100%;
  display: flex;

  &_header {
    &__heading {
      font: 700 26px $primaryFont;
      color: $commonBlack;
    }
  }

  &_content {
    display: flex;
    align-items: center;
  }
}

.testst {
  overflow-y: hidden;
  max-height: 100px;
}
